<div class="card border-dark mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body text-dark">
    <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/crupdate']">Create new</button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.surname}}</td>
                <td>{{client.email}}</td>
                <td>{{client.createAt}}</td>
                <td><button type="button" [routerLink]="['/clients/crupdate', client.id]" class="btn btn-primary">Edit</button></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
